<div class="row">
    <div class="col-xs-12">
        <h4 class="page-header">辐射阈值设置</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <form role="form" data-toggle="validator" id="thresholdSettingForm">
            <div class="form-group">
                <label for="normalThreshold">正常辐射阈值</label>
                <input type="number" class="form-control" id="normalThreshold" name="normalThreshold"
                       placeholder="请输入正常辐射阈值" th:value="${threshold.normal}" maxlength="3" />
            </div>
            <div class="form-group">
                <label for="warningThreshold">警告辐射阈值</label>
                <input type="number" class="form-control" id="warningThreshold" name="warningThreshold"
                       placeholder="请输入警告辐射阈值" th:value="${threshold.warning}" maxlength="3" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default" id="btnReset">重置</button>
                <button type="button" class="btn btn-primary" id="btnUpdateThreshold">保存</button>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/script/setting.js}"></script>
<script>
    $(function() {
        $.mr.setting.thresholdSetting.init();
    });
</script>