<div class="row">
    <div class="col-xs-12">
        <h4 class="page-header" id="pageTitle">
            状态 -
            <input type="text" class="titleInput" id="selectedUnit" readonly="readonly" />
            <a href="#" id="unitSelectA"><span class="caret"></span></a>
            <ul id="unitSelectUl" class="dropdown-menu mega-dropdown-menu">
                <li class="dropdown-header">
                    <ul style="margin-bottom: -10px">
                        <!--<li><a href="#">安徽省</a></li>
                        <li><a href="#">合肥市</a></li>
                        <li class="selected">蜀山区</li>-->
                    </ul>
                </li>
                <li class="divider"></li>
                <!--<li class="dropdown-item"><a href="#">Unique Features</a></li>
                <li class="dropdown-item"><a href="#">Image Responsive</a></li>
                <li class="dropdown-item"><a href="#">Auto Carousel</a></li>
                <li class="dropdown-item"><a href="#">Newsletter Form</a></li>
                <li class="dropdown-item"><a href="#">Four columns</a></li>-->
                <li class="divider"></li>
                <li>
                    <div>
                        <button class="btn btn-default" id="unitSelectCancelBtn">取消</button>
                        <button class="btn btn-primary" id="unitSelectOKBtn">确定</button>
                    </div>
                </li>
            </ul>
        </h4>
    </div>
</div>
<input type="hidden" id="currentUnitId" value="UT00000000000000" />
<input type="hidden" id="currentUnitIdChain" value="UT00000000000000" />
<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-lightbulb-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id="normalLight">26</div>
                        <div>正常紫外灯数</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">详细</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-lightbulb-o fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id="abnormalLight">26</div>
                        <div>异常紫外灯数</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">详细</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-microchip fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id="activeSensor">26</div>
                        <div>活跃传感器数</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">详细</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i class="fa fa-microchip fa-5x"></i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge" id="inactiveSensor">26</div>
                        <div>非活跃传感器数</div>
                    </div>
                </div>
            </div>
            <a href="#">
                <div class="panel-footer">
                    <span class="pull-left">详细</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <input type="hidden" id="mapKey" th:value="${mapKey}" />
    <div class="col-sm-12 col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-hospital-o fa-fw"></i>&nbsp;位置一览
                <span class="panel-icon pull-right">
                    <a href="#" title="返回" id="btnUpLevel"><i class="fa fa-arrow-up fa-fw"></i></a>
                </span>
            </div>
            <div class="panel-body">
                <div id="__mapContainer" style="height:550px;"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-pie-chart fa-fw"></i>&nbsp;紫外线灯状态
                    </div>
                    <div class="panel-body" id="lightStatus" style="height:259px;">

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-pie-chart fa-fw"></i>&nbsp;传感器状态
                    </div>
                    <div class="panel-body" id="sensorStatus" style="height:259px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/raphael.min.js}"></script>
<script th:src="@{/js/morris.min.js}"></script>
<script th:src="@{/script/status.js}"></script>
<script>
    $(function() {
        $.mr.map.create($('#mapKey').val());
        $.mr.status.initHospital();
        $.mr.status.markHospital();
    });
</script>
<style>
    .mega-dropdown-menu {
        padding: 12px 0px;
        width: 80%;
        box-shadow: none;
        -webkit-box-shadow: none;
        left: 70px;
        top: 62px;
    }

    .mega-dropdown-menu > li > ul {
        padding: 0;
        margin: 0;
    }

    .mega-dropdown-menu > li > ul > li {
        list-style: none;
        padding-bottom: 2px;
    }

   .mega-dropdown-menu .dropdown-header {
        font-size: 14px;
        font-weight: 400;
    }

    .dropdown-header > ul > li {
        display: inline;
        margin-left: 5px;
    }

    .dropdown-header > ul > li.selected {
        color: white;
        background-color: #002a80;
    }

    .mega-dropdown-menu form {
        margin: 3px 20px;
    }

    .dropdown-menu > li > div {
        text-align: center;
        padding-right: 20px;
    }
</style>
