<div class="row">
    <div class="col-lg-12">
        <h4 class="page-header">首页</h4>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i id="titleIcon"></i>&nbsp;<span id="titleText"></span>
                <span class="panel-icon pull-right">
                    <a href="#" title="刷新" id="btnRefresh"><i class="fa fa-refresh fa-fw"></i></a>
                </span>
                <span class="panel-icon pull-right" th:if="${level != 0}">
                    <a href="#" title="返回" id="btnUpLevel"><i class="fa fa-arrow-up fa-fw"></i></a>
                </span>
                <input type="hidden" id="unitLevel" th:value="${level}" />
                <input type="hidden" id="parentId" th:value="${parentId}" />
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-4 col-md-3" th:each="unit : ${units}">
                        <div th:class="${unit.statusCls}" th:id="${unit.unitId}" th:title="${unit.remark}">
                            <div class="badgeContainer" th:if="${!unit.leaf}">
                                <span class="badge badgeError" th:text="${unit.errorCount}">33</span>
                                <span class="badge badgeWarn" th:text="${unit.warnCount}">29</span>
                                <span class="badge badgeNormal" th:text="${unit.normalCount}">59</span>
                            </div>
                            <br />
                            <i class="iconCls"></i>
                            <div class="caption status-remark">
                                <p th:text="${unit.unitName}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/script/dashboard.js}"></script>
<script>
    $(function() {$.mr.dashboard.init();});
</script>
