<div class="row">
    <div class="col-xs-12">
        <h4 class="page-header">数据统计</h4>
    </div>
</div>
<div class="row">
    <div class="col-xs-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-line-chart fa-fw"></i>&nbsp;辐射强度
            </div>
            <div class="panel-body">
                <div id="radiationLineChart" class="flot-area"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-pie-chart fa-fw"></i>&nbsp;分析
            </div>
            <div class="panel-body">
                <div id="radiationPieChart" class="flot-area"></div>
            </div>
        </div>
    </div>
    <div class="col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-table fa-fw"></i>&nbsp;数据详细
            </div>
            <div class="panel-body">
                <div class="dataTable_wrapper">
                    <table class="table table-striped table-bordered table-hover" id="unitDataTable">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>