<div class="modal fade" id="userSelectModal" tabindex="-1" role="dialog" aria-labelledby="userSelectModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="fa fa-times"></span>
                </button>
                <h4 class="modal-title" id="userSelectModalLabel">
                    选择人员
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-8">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-file-excel-o fa-fw"></i>查询条件
                            </div>
                            <div class="panel-body">
                                <form role="form">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>人员ID</label>
                                                <input type="text" id="userId" class="form-control" placeholder="支持模糊查询" />
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label>姓名</label>
                                                <input type="text" id="userName" class="form-control" placeholder="支持模糊查询" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button class="btn btn-default" type="button" id="userSearch">查询</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-user fa-fw"></i>已选择人员
                            </div>
                            <div class="panel-body" style="height: 138px;">
                                <select multiple="multiple" id="selectedUsers" class="form-control" size="5"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-table fa-fw"></i>人员一览
                            </div>
                            <div class="panel-body">
                                <table class="table table-striped table-bordered table-hover" id="modalUsersTable">
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="selectUsers">保存</button>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/script/user.js}"></script>
<script>
    $(function() {
        $.mr.user.initModalUsers();
    });
</script>