<div class="modal fade" id="unitSelectModal" tabindex="-1" role="dialog" aria-labelledby="unitSelectModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <span class="fa fa-times"></span>
                </button>
                <h4 class="modal-title" id="unitSelectModalLabel">
                    选择紫外线灯
                </h4>
            </div>
            <div class="modal-body">
                <ul id="unitModalTree" class="ztree"></ul>
                <input type="hidden" id="selectedUnitId" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="selectUnit">选择</button>
            </div>
        </div>
    </div>
</div>